
@import url('http://fonts.googleapis.com/css?family=Kavoon');

@font-face{
    font-family: "Avenir";
    src:url("../../assets/fonts/AvenirNextLTPro-Regular.otf"),
    url("../../assets/fonts/AvenirNextLTPro.ttf");
    font-weight: 400;
}

@font-face{
    font-family: "Avenir";
    src: url("../../assets/fonts/AvenirNextLTProBold.ttf"),
    url("../../assets/fonts/AvenirNextLTPro-Bold.otf");
    font-weight: 700;
}

@font-face{
    font-family: "Avenir";
    src: url("../../assets/fonts/AvenirNextLTproDemi.ttf"),
    url("../../assets/fonts/AvenirNextLTPro-Demi.otf");
    font-weight: 600;
}