/* Set Breakpoint width */
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$wrapper-max-width: 1140px;

/* Text Size */
$t-60: 60px;
$t-36: 36px;
$t-24: 24px;
$t-14: 14px;
$t-13: 13px;

/* Line Height */
$lh-68: 68px;
$lh-44: 44px;
$lh-32: 32px;
$lh-22: 22px;
$lh-20: 20px;
$lh-18: 18px;

/* Set padding */
$padding-24: 24px;
$padding-16: 16px;

$footer-item-len: 16rem;
$footer-item-len-m: 8rem;

/* Set Color */

$header-color: #ffdf01;

$header-color:#ffee76; 

$footer-color: #ffffc5;
$footer-backgroundcolor: #323232;
$main-color: #afafaf;
$active-color: white;


$url-show: "../assets/images/hero-shows.jpg";

$url-show: '../assets/images/colorful.jpg';

