@use "./partials/mixin" as *;
@use "./partials/resets" as *;
@use "./partials/variables" as *;
@use "./partials/typography" as *;

.main {
    margin-top: 10rem;
}

.emos {
  &__container {
    width: 100%;
    max-width: $wrapper-max-width;
    margin: auto;
    padding:1rem $padding-16 2rem $padding-16;
  }

  &__shows {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @include tablet-et-desk {
            justify-content: space-between;
        }
    }

    &__img {
        width: 100%;
        max-width: $max-width-m;
        padding: 1rem;

        @include tablet-et-desk {
            max-width: $max-width-t;
            width: 30%;
        }
        @include desktop {
            max-width: $max-width-d;
        }
    }

    &__input {
        padding-bottom: 1rem;
    }

    &__error {
        color: orangered;
        border: 1px solid orangered;
        border-radius: 0.5rem;
        padding: 1rem;
        margin-bottom: 2rem;
        display: none;
    }
}

 